<div id="map" style="width: 100%; height: 400px;"></div>

<%= content_for :javascript do %>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
	
	<script>
		mapboxgl.accessToken = 'pk.eyJ1Ijoidmlkcmlsb2NvIiwiYSI6ImNpdmp6OWtkeTAwOXcyeXBmdzdjbzBkYXYifQ.EXo7HsO4PNRvxM72vt3yAg';
		var map = new mapboxgl.Map({
			container: 'map',
	    style: 'mapbox://styles/mapbox/streets-v9',
	    center: <%= coordinates[0] %>,
	    zoom: 10
		});
		
		var geojson = {
		    "type": "FeatureCollection",
		    "features": [{
		        "type": "Feature",
		        "geometry": {
		            "type": "LineString",
		            "properties": {},
		            "coordinates": <%= coordinates %>
		        }
		    }]
		};
		
		map.on('load', function () {
			map.addLayer({
	        "id": "LineString",
	        "type": "line",
	        "source": {
	            "type": "geojson",
	            "data": geojson
	        },
	        "layout": {
	            "line-join": "round",
	            "line-cap": "round"
	        },
	        "paint": {
	            "line-color": "<%= color %>",
							"line-width": <%= stroke %>
	        }
	    });
					
			var coordinates = <%= coordinates %>;
			var bounds = coordinates.reduce(function(bounds, coord) {
          return bounds.extend(coord);
      }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

      map.fitBounds(bounds, {
          padding: 40
      });
		});
	</script>
<% end %>